APP_CODE_PATH_HOST=./
APP_CODE_PATH_CONTAINER=/app
VOLUMES_DRIVER=local

# Cloudflare Tunnel Token
CLOUDFLARE_TUNNEL_TOKEN=

WEBHOOK_VERIFY=true
VERIFY_SIGNATURE=sha256
GITHUB_WEBHOOK_SECRET=

# Github Bot settings
GITHUB_BOT_APP_ID=
GITHUB_BOT_PRIVATE_KEY_PATH=

# Github Runner Settings
RUNNER_NAME_PREFIX=my-runner
RUNNER_WORKDIR=/__w
RUNNER_GROUP=default
RUNNER_SCOPE=org
ORG_NAME=your-org
DISABLE_AUTO_UPDATE=true

# Github api version
GITHUB_API_VERSION=2022-11-28

# Github Runner image settings
RUNNER_BASE_IMAGE=myoung34/github-runner
RUNNER_BASE_IMAGE_TAG=ubuntu-noble

# Container job support (GitHub Actions container: syntax)
RUNNER_CONTAINER_ENABLED=true